PYTHONPATH=.
HUGGINGFACE_API_TOKEN="<YOUR TOKEN HERE>"
GROQ_API_KEY= #Place Groq API key here
SERPAPI_API_KEY= #Place SerpAPI key here
COHERE_API_KEY= #Place CohereAPI key here
QDRANT_API_KEY = #Place Qdrant Cloud API key here
QDRANT_URL = #Place Qdrant URL here
